ssh_keys/*
sounds/*
tts/*
www/*
esphome/*
themes/*
custom_components/*
.storage/*
.HA_VERSION
.google.token
.google.token1
.ps4-games.json
.ps4-wake.credentials.json
home-assistant.log
google_calendars.yaml
known_devices.yaml
old.me
ps4-games.json
secrets.yaml
home-assistant_v2.db